body
    {
        background-color: #02c4ff;
        color: aliceblue;
        font-family: Helvetica, Arial, sans-serif;
    }
    
.profile-image
    {
        border-radius: 50%;
        box-shadow: #113144 2px 2px 5px;
        width: 200px;
        align-self: center;
    }
.site-header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

